@charset "UTF-8";
@import url(../../node_modules/vuetify/dist/vuetify.min.css);
@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
.v-application {
  width: 100vw;
  overflow-x: hidden; }
  .v-application h1, .v-application h2, .v-application h3, .v-application h4 {
    font-family: Oswald !important; }
  .v-application span, .v-application p, .v-application a, .v-application label {
    font-family: 'Space Mono', monospace; }

.container {
  max-width: 90%;
  margin: auto;
  padding: 0px; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 90vw; } }
@media screen and (min-width: 960px) {
  .s-relative {
    position: relative; } }
@media screen and (min-width: 960px) and (max-width: 1700px) {
  .container {
    max-width: 95%; } }
body {
  color: #222222; }
  body #app {
    padding-top: 8px;
    background-color: transparent !important; }
  body i, body p, body a, body h1, body h2, body h3, body h4, body span {
    color: #222222; }
  body button, body a, body p, body div, body span {
    box-shadow: none !important; }

.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100% !important; }

.empty-state {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.2;
  width: 100%; }

.give-me-space {
  padding: 60px 0px; }

.my-border {
  border: 3px solid #222222; }

.my-border-dark {
  border: 3px solid white; }

.my-text-field .v-input__slot {
  border: 3px solid #222222;
  border-radius: 0px !important; }

.my-btn-border {
  border: 3px solid #222222;
  border-radius: 0px !important; }

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: transparent; }

.inactive-button {
  opacity: 0.5 !important; }

.v-btn {
  font-weight: bold; }

.v-application .primary {
  color: #222222 !important; }
.v-application .v-slider__thumb {
  background-color: #222222;
  border-radius: 0px !important; }
  .v-application .v-slider__thumb:before {
    display: none !important; }

.text-muted {
  opacity: 0.6; }

.product {
  position: relative;
  padding: 20px; }
  .product:hover {
    cursor: pointer; }
    .product:hover .product-desc {
      transform: scaleY(1);
      max-height: 500px;
      opacity: 1; }
    .product:hover img {
      opacity: 0.4; }
  .product .product-desc {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 200ms;
    transform: scaleY(0.01);
    max-height: 1px;
    opacity: 0; }
  .product .image-holder {
    height: 280px;
    position: relative;
    padding: 10px; }
    .product .image-holder img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 200ms; }
  .product .product-name {
    margin-top: 15px;
    font-weight: 900;
    text-align: center; }

.my-link {
  color: black !important;
  text-decoration: none; }
  .my-link:hover {
    color: #08FF97 !important; }

.header {
  position: relative;
  margin-bottom: 20px; }
  .header:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    left: 0px;
    bottom: -10px;
    background-color: #E4E6E9; }

.description-holder {
  max-height: 400px;
  overflow: hidden;
  position: relative;
  transition: all 300ms; }
  .description-holder:after {
    content: " ";
    position: absolute;
    background: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.71892507) 46%, white 89%);
    width: 100%;
    height: 30%;
    bottom: 0px;
    left: 0px; }

.price-crossed {
  text-decoration: line-through; }

.expand_description_button {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 100;
  padding: 8px 36px;
  border: 3px solid #222222; }

.description-expand {
  max-height: 1000px; }
  .description-expand:after {
    display: none; }
  .description-expand .expand_description_button {
    position: unset !important; }

@keyframes slideFromCenterLeft {
  0% {
    transform: translateX(25vw); }
  100% {
    transform: translateX(0px); } }
@keyframes slideFromCenterRight {
  0% {
    transform: translateX(-25vw); }
  100% {
    transform: translateX(0px); } }
.slide_from_center-left, .slide_from_center_right {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.slide_from_center_left {
  animation: slideFromCenterLeft 300ms; }

.slide_from_center_right {
  animation: slideFromCenterRight 300ms; }

@media screen and (max-width: 1000px) {
  [class*="col-"] {
    padding: 8px; }

  .row {
    margin-left: -8px;
    margin-right: -8px; }

  button span {
    width: 100%;
    white-space: pre-wrap; }

  #filters {
    transition: all 300ms;
    max-height: 0px;
    overflow: hidden; }

  .collapsed {
    max-height: 800px !important; }

  .contact_holder {
    width: 90%;
    max-width: 90%; } }
@media screen and (min-width: 1000px) {
  .xs-only {
    display: none; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.banner-holder {
  z-index: -1;
  top: -170px;
  position: absolute; }
  .banner-holder .bg {
    opacity: 0.2;
    height: 110vh;
    width: 100%;
    position: absolute; }
    @media screen and (max-width: 960px) {
      .banner-holder .bg {
        opacity: 0.3; } }
  .banner-holder .cap {
    z-index: 100;
    width: 70%;
    left: 20% !important;
    position: absolute;
    transform: none !important;
    clip: unset !important; }
    @media screen and (min-width: 960px) {
      .banner-holder .cap {
        top: 30vh; } }
  @media screen and (min-width: 958px) {
    .banner-holder {
      left: -30%;
      width: 130%; } }
  @media screen and (max-width: 960px) {
    .banner-holder {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -15vh !important;
      left: 0px !important; }
      .banner-holder .cap {
        top: unset;
        left: 30px !important;
        width: 100%;
        bottom: -10vh; } }

.banner-row {
  height: 90vh; }
  .banner-row .left-section {
    height: 100%;
    padding-left: 50px; }
    .banner-row .left-section .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (min-width: 1920px) {
        .banner-row .left-section .content {
          max-width: 80%; } }
      .banner-row .left-section .content h1 {
        text-transform: uppercase;
        font-weight: bold; }
        @media screen and (min-width: 1200px) {
          .banner-row .left-section .content h1 {
            font-size: 4rem; } }
      .banner-row .left-section .content p {
        font-size: 1.5rem; }
        @media screen and (min-width: 1200px) {
          .banner-row .left-section .content p {
            padding: 20px 0px; } }
      @media screen and (max-width: 960px) {
        .banner-row .left-section .content {
          justify-content: unset; }
          .banner-row .left-section .content p {
            font-size: 1rem !important; } }
    @media screen and (max-width: 960px) {
      .banner-row .left-section {
        text-align: center;
        max-width: 96%;
        padding-left: 0px;
        margin: auto; } }

.reverse-section {
  background-color: #111111; }
  .reverse-section h1, .reverse-section h2, .reverse-section h3, .reverse-section h3, .reverse-section p, .reverse-section span {
    color: white; }

footer {
  background-color: #111111; }
  @media screen and (max-width: 960px) {
    footer {
      text-align: center; } }
  footer h1, footer h2, footer h3, footer a, footer p, footer span {
    color: white; }
  footer ul {
    list-style: none !important;
    padding-left: 0px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    @media screen and (max-width: 960px) {
      footer ul {
        justify-content: center; } }
    footer ul li {
      padding: 10px; }
      footer ul li a {
        text-decoration: none !important;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem; }

.v-input__slot {
  border-width: 2px;
  border-radius: 0px !important; }

.designs-slider .slick-active, .designs-slider .slick-slide {
  border: 3px solid #222222;
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 200ms; }
.designs-slider .slick-center {
  transform: scale(1);
  opacity: 1 !important; }

.pagination {
  padding-left: 0px !important;
  width: 100%;
  list-style: none !important;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pagination .active {
    opacity: 0.7; }
  .pagination li {
    margin: 5px;
    padding: 15px; }
    .pagination li a {
      text-decoration: none !important;
      color: #222222; }

.kafelki {
  overflow: hidden;
  height: 600px; }
  @media screen and (max-width: 1700px) {
    .kafelki {
      height: unset; } }
  .kafelki div {
    height: 100%; }
  .kafelki .kafelki-left .kafelka {
    height: 100%; }
  .kafelki .kafelki-right .first {
    padding-bottom: 12px; }
  .kafelki .kafelki-right .second {
    padding-top: 12px; }
  .kafelki .kafelki-right .kafelka {
    height: 50% !important; }
  .kafelki .kafelka {
    overflow: hidden;
    position: relative; }
    .kafelki .kafelka .content {
      background: white;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4836309524) 50%);
      position: absolute;
      padding-left: 20px;
      padding-top: 20px;
      top: -100%;
      opacity: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all 300ms; }
    .kafelki .kafelka img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      border: 3px solid #222222;
      opacity: 0.5;
      transition: all 300ms;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .kafelki .kafelka:hover .content {
      top: 0px;
      opacity: 1; }
    .kafelki .kafelka:hover img {
      opacity: 1;
      -webkit-filter: none;
      filter: none; }

.seo {
  max-height: 200px;
  overflow: hidden;
  position: relative;
  transition: all 200ms; }
  .seo:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.125087535) 0%, rgba(255, 255, 255, 0.5200455182) 23%, rgba(255, 255, 255, 0.9906337535) 100%); }
  .seo .seo-trigger {
    position: absolute;
    left: 45%;
    bottom: 0px;
    z-index: 100; }
    @media screen and (max-width: 1400px) {
      .seo .seo-trigger {
        left: 30%; } }

.seo-active {
  max-height: 1000px; }
  .seo-active .seo-trigger, .seo-active:after {
    display: none !important; }

.category-slider .slide {
  cursor: pointer;
  transition: all 200ms;
  width: 300px;
  text-align: center; }
  .category-slider .slide a {
    text-decoration: none;
    color: #222222; }
  .category-slider .slide:hover a {
    color: #08FF97; }
  .category-slider .slide:hover img {
    filter: invert(100%) sepia(47%) saturate(2870%) hue-rotate(62deg) brightness(108%) contrast(101%); }
  .category-slider .slide img {
    transition: all 200ms;
    margin: auto;
    width: 50px;
    height: 50px;
    object-fit: contain; }
.category-slider .slide-active a {
  color: #08FF97; }
.category-slider .slide-active img {
  filter: invert(100%) sepia(47%) saturate(2870%) hue-rotate(62deg) brightness(108%) contrast(101%); }

.slick-slider-holder {
  position: relative;
  width: 100%; }
  .slick-slider-holder .slick-prev, .slick-slider-holder .slick-next {
    display: none !important; }
  .slick-slider-holder .arrow-left, .slick-slider-holder .arrow-right {
    transition: all 200ms;
    cursor: pointer;
    position: absolute;
    top: 35%; }
    .slick-slider-holder .arrow-left:hover, .slick-slider-holder .arrow-right:hover {
      filter: invert(100%) sepia(47%) saturate(2870%) hue-rotate(62deg) brightness(108%) contrast(101%); }
    .slick-slider-holder .arrow-left img, .slick-slider-holder .arrow-right img {
      max-height: 25px; }
  .slick-slider-holder .arrow-left {
    left: 0px;
    transform: rotate(180deg); }
  .slick-slider-holder .arrow-right {
    right: 0px; }

.slick-colors .arrow-left, .slick-colors .arrow-right {
  top: 20%; }
  .slick-colors .arrow-left img, .slick-colors .arrow-right img {
    max-height: 15px; }
.slick-colors .arrow-left {
  left: -5px; }
.slick-colors .arrow-right {
  right: -5px; }

/*# sourceMappingURL=app.css.map */
