$black-color: #111111;
$my-border: 3px solid #222222;
$my-border-dark: 3px solid white;

$secondary-font: 'Space Mono', monospace;
$third-color: #FC3F3F;
$primary-collor: #08FF97;
$grey-collor: #E4E6E9;
