$black-color: #444444;
$my-border: 3px solid #222222;
$my-border-dark: 3px solid white;
$third-color: #FC3F3F;
$primary-color: #ECD9B3;
$primary-collor: #ECD9B3;
$secondary-color: #D0DBD5;
$grey-collor: #E4E6E9;
$primary-font:'Nunito', sans-serif;
$font-family: 'Nunito', sans-serif !important;
$light-grey: #EBEBEB;
